{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}

<header class="page-header group">
  <div>
    <h1>MOJ Open Data</h1>
  </div>
</header>

<p>This is the experimental open data platform from MOJ Digital Services.</p>
<p>It currently offers a single dataset: case-level criminal court outcomes from 2002 to 2012 (adult offenders). A <a href="{% url 'home:doc' %}">description</a> of the dataset is available.</p>

<ul>
  <li><a href="{% url 'download:index' %}">Download</a> the raw dataset</li>
  <li>Access the data via the <a href="{% url 'api:index' %}">API</a></li>
  <li>See a few <a href="{% url 'apps:index' %}">applications and visualisations</a> built from the data</a></li>
</ul>

{% endblock %}
