{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}

<header class="page-header group">
  <div>
    <h1>MOJ Open Data</h1>
  </div>
</header>


<p>This is the experimental open data platform from MOJ Digital Services.</p>
<p>It currently offers a single dataset: 10 years of case-level court proceedings.</p>

<ul>
  <li><a href="/download">Download</a> the raw dataset</li>
  <li>Access the data via the <a href="/api">API</a></li>
  <li>See a few <a href="/apps">applications and visualisations</a> built using the dataset</a></li>
</ul>


{% endblock %}

