{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}

<header class="page-header group">
  <div>
    <h1><small>Ministry of Justice</small><br/>
    Criminal Court Proceedings and Trials</h1>
  </div>
</header>

<h2>What's this?</h2>

<p>This is the site of a project that aims to improve the way MOJ publishes open data. The plan is:</p>
<ul>
  <li>publish a single dataset in raw form</li>
  <li>work with people with an interest in the dataset to understand their needs</li>
  <li>from those identified needs, improve the way we serve the data</li>
  <li>iterate until the service meets expectations</li>
</ul>

<p>The success of this project will hopefully lead to a process for MOJ to publish data better, and incentive for us to offer more datasets in the same way.</p>

<h2>The dataset</h2>

<p>This site lets you access the list of criminal court outcomes from 2002 to 2012 (only adult defendants). A detailed <a href="{% url 'home:doc' %}">description</a> of the data is available.</p>

<ul>
  <li><a href="{% url 'download:index' %}">Download</a> the raw dataset</li>
  <li><a href="{% url 'api:index' %}">Other ways</a> to access the data.</li>
  <li><a href="{% url 'apps:index' %}">applications and visualisations</a> built from the dataset</a></li>
</ul>

{% endblock %}
