Django==1.6.2
Fabric==1.7.0
Jinja2==2.7.1
MarkupSafe==0.18
PyYAML==3.11
South==0.8.4
boto==2.10.0
dj-database-url==0.3.0
dj-static==0.0.5
django-moj-template==0.12.0
django-toolbelt==0.0.1
djangorestframework==2.3.13
flup==1.0.2
ipython==1.0.0
paramiko==1.11.0
psycopg2==2.5.2
pycrypto==2.6
pystache==0.5.3
python-dateutil==2.1
python-gnupg==0.3.5
python-vagrant==0.4.0
salt==2014.1.4
six==1.4.1
static==1.0.2
stevedore==0.12
vboxapi==1.0
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
yolk==0.4.3
