{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}

<header class="page-header group">
  <div>
    <h1>Applications</h1>
  </div>
</header>


<p>There are no applications yet.</p>

<p>That is because we need your help to build them, or better, we need you to write them from us, either by downloading the <a href="/download">dataset</a>, or by using our <a href="/api">data API</a>.</p>

<p>However we have a few visualizations to whet your appetite</p>

<ul>
  <li><a href="demo1">proceedings by month</a></li>
</ul>

{% endblock %}


