{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}

<header class="page-header group">
  <div>
    <h1>Applications</h1>
  </div>
</header>


<p>There are no applications yet, only sample visualisation.</p>

<p>That's because the point of opening our data is to let others take it and build something useful, that we wouldn't have thought of.</p>

<p>What we can do is make it available in useful ways, so that external services are easier to build. Right now, the data is <a href="{% url 'download:index' %}">available in raw form</a>, but with your help, we can improve this platform to deliver the data more usefully.</p>

<p>That said, we have a few visualizations to show off the potential of this dataset</p>

<h1>Sample Visualizations</h1>

<p>Caveat: these graphs are at most as accurate and complete as the dataset they are built on.</p>

<style>
.oddbar { fill: #88f; }
.evenbar { fill: #88c; }
.bar:hover { fill: #d88; }

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
   fill: none;
   stroke: #353;
   stroke-width: 5px;
   stroke-linecap: round;
 }

#demo2 .subunit {
   fill: #ddc;
 }

#demo2 text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}
</style>

<h2>Number of cases per month</h2>

<p>This is a very simple barchart showing the number of cases processed by month between 2002 and 2012. The line shows the average yearly totals.</p>

<svg id="demo1">
  <img src="{% static 'cases_per_month_fallback.png' %}" alt="number of cases per month" width="100%"/>
</svg>

<h2>Map</h2>

<p>The map below shows the average age of offenders at each court on the map, over the 10-year period. Black is youngest (25 years old average), white is older (36 years old average). Leave the pointer on a circle to see the actual value.</p>

<svg id="demo2">
  <img src="{% static 'map_fallback.png' %}" alt="average age per court"  width="100%"/>
</svg>

<script src="{% static 'd3.v3.min.js' %}"></script>
<script src="{% static 'topojson.v1.min.js' %}"></script>
<script src="{% static 'demo1.js' %}"></script>

{% endblock %}
