{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}

<header class="page-header group">
  <div>
    <h1>Applications</h1>
  </div>
</header>


<p>There are no applications yet.</p>

<p>That's because the point of opening our data is to let others take it and build something useful, that we wouldn't have thought of.</p>

<p>What we can do is make it available in useful ways, so that external services are easier to build. Right now, the data is <a href="{% url 'download:index' %}">available in raw form</a>, but with your help, we can improve this platform to deliver the data more usefully.</p>

<p>That said, we have a few visualizations to show off the potential of this dataset:</p>

<ul>
  <li><a href="demo1">proceedings by month</a></li>
</ul>

{% endblock %}


