{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content inner cf">
  <header class="page-header group">
    <div>
      <h1>Outcome</h1>
    </div>
  </header>

  {% if csv %}
  <p>This is the description of the case encoded as the following CSV data:</p>
  <pre>{{ csv }}</pre>
  {% endif %}

  {% if outcome %}

  <ul>
    <li>Defendant:
      <ul>
        <li>Number of defendants: {{ outcome.defendant.number }}</li>
        <li>Age: {{ outcome.defendant.age }} years old. (Age is defaulted to 25 if date of birth information is not recorded.)</li>
        <li>Sex: {{ outcome.defendant.sex }}</li>
        <li>Ethnicity: {{ outcome.defendant.ethnicity }}</li>
      </ul>
    </li>
    <li>Date of outcome: {{ outcome.month }}/{{ outcome.year }}</li>
    <li>Court: {{ outcome.court.name|join:" / " }} ({{ outcome.court.type }})</li>
    <li>Offence:
      <ul>
        <li>Group: {{ outcome.offence.group }}</li>
      </ul>
    </li>
    <li>Plea: {{ outcome.plea }}</li>

  </ul>

  <li>Police Force: {{ outcome.police.force }} {% if outcome.police.region %} ({{outcome.police.region}}) {% endif %}</li>



  {% else %}
  <p>This CSV line doesn't correspond to a valid outcome</p>
  {% endif %}

</div>
{% endblock %}
