{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}

<header class="page-header group">
  <div>
    <h1>Feedback</h1>
  </div>
</header>

<p>Tell us what you think, and what you would like this site to offer.</p>

<form action="{% url 'feedback:thanks' %}" method="post">
  {% csrf_token %}
  <div>
    <label for="name">Your name</label><br/>
    <input type="text" name="name"/>
  </div>
  <div>
    <label for="email">Your email address</label><br/>
    <input type="email" name="email"/>
  </div>
  <div>
    <label for="comment">Comments</label><br/>
    <textarea name="comment" rows="4" cols="50"></textarea>
  </div>
  <input type="submit" value="continue"/>
</form>

{% endblock %}
