{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content inner cf">

<style>
.invalid-field {
   color: red;
   display: none;
}
.submit-warning {
   color: yellow;
   display: none;
}
</style>

<header class="page-header group">
  <div>
    <h1>Feedback</h1>
  </div>
</header>

<p>Tell us what you think, and what you would like this site to offer.</p>

<form action="{% url 'feedback:thanks' %}" method="post">
  {% csrf_token %}
  <div>
    <label for="name">Your name</label><br/>
    <input type="text" name="name"/>
  </div>
  <div>
    <label for="email">Your email address</label><br/>
    <input type="email" name="email" id="email"/> <span id="email-error" class="invalid-field">This isn't a valid email address</span>
  </div>
  <div>
    <label for="comment">Comments</label><br/>
    <textarea name="comment" rows="4" cols="50"></textarea>
  </div>
  <input disabled type="submit" value="continue"/>
</form>

<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'form.js' %}"></script>
</div>
{% endblock %}
