{% extends 'moj_template/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content inner cf">

<header class="page-header group">
  <div>
    <h1>Proceedings data</h1>
  </div>
</header>

<p>This page describes the Court Proceedings Datasets</p>

<h2>Contents of the Zip file:</h2>

<ul>
  <li>Green Book (General codes) 2014.xls</li>
  <li>Orange Compendium (A to Z Acts and sections codes) 2014.xls</li>
  <li>hack02.csv</li>
  <li>hack03.csv</li>
  <li>...csv</li>
</ul>

<p>The CSV files are the data itself, described below, and the XLS provide table for decoding the indexes in the file.</p>

<h2>The CSV files</h2>

<p>Each line in the files describes a court proceedings, as illustrated in this picture:</p>

<img src="{% static 'dataset.png' %}" alt="screenshot of sample data" width="100%"/>

<h3>Fields</h3>

<table border="1">
<tbody>
  <tr><th>Name</th><th>Type</th><th>Range</th><th>Description</th><th>Notes</th></tr>
  <tr><td><code>multipers</code></td><td>decimal</td><td>1,1.3,1.4... 9-99</td><td> </td><td> </td></tr>
  <tr><td><code>amount1</code></td><td>decimal</td><td>0-18,000,000</td><td> </td><td> </td></tr>
  <tr><td><code>amount2</code></td><td>decimal</td><td>0-8,000,000</td><td> </td><td> </td></tr>
  <tr><td><code>amount3</code></td><td>decimal</td><td>0-9,000,000</td><td> </td><td> </td></tr>
  <tr><td><code>amount4</code></td><td>decimal</td><td>0-5,000,000</td><td> </td><td> </td></tr>
  <tr><td><code>crttype</code></td><td>text</td><td>MC or CC</td><td>Type of court (mags or crown)</td><td> </td></tr>
  <tr><td><code>ofgroup</code></td><td>text</td><td>IND, SMO, SNM</td><td> </td><td> </td></tr>
  <tr><td><code>force</code></td><td>int</td><td>1-93</td><td>police force code</td><td>Green book, sheet 6</td></tr>
  <tr><td><code>age</code></td><td>int</td><td>18-99</td><td> </td><td>of offender?</td></tr>
  <tr><td><code>month</code></td><td>int</td><td>1-12</td><td> </td><td>of decision?</td></tr>
  <tr><td><code>year</code></td><td>int</td><td>2002-2012</td><td> </td><td>of decision?</td></tr>
  <tr><td><code>court</code></td><td>int</td><td>401-5986</td><td>court number</td><td> </td></tr>
  <tr><td><code>sex</code></td><td>int</td><td>1,2,3,9</td><td>1: Male, 2: Female, 3: other (company, etc.), 9:?</td><td>Green book sheet 13</td></tr>
  <tr><td><code>ethcode</code></td><td>int</td><td>0-9</td><td>ethnicity</td><td>Green book sheet 14 (only covers 1-4,9)</td></tr>
  <tr><td><code>classctn</code></td><td>int</td><td>100-82599</td><td>offense?</td><td>Orange book</td></tr>
  <tr><td><code>plea</code></td><td>int</td><td>0-3</td><td>1: guilty, 2: not, 3: n/a, 0?</td><td>Green book sheet 8</td></tr>
  <tr><td><code>proc</code></td><td>int</td><td>1-83</td><td>Proceeding</td><td>Green book sheet 9</td></tr>
  <tr><td><code>disp1</code></td><td>int</td><td>0-996</td><td>Disposal</td><td>Green book sheet 4</td></tr>
  <tr><td><code>disp2</code></td><td>int</td><td>0-996</td><td><span>Disposal</span></td><td>Green book sheet 4</td></tr>
  <tr><td><code>disp3</code></td><td>int</td><td>0-996</td><td><span>Disposal</span></td><td><span>Green book sheet 4</span></td></tr>
  <tr><td><code>disp4</code></td><td>int</td><td>0-996</td><td><span>Disposal</span></td><td><span>Green book sheet 4</span></td></tr>
  <tr><td><code>clastype</code></td><td>int</td><td>0-5</td><td> </td><td> </td></tr>
  <tr><td><code>priority</code></td><td>int</td><td>0-999</td><td> </td><td> </td></tr>
  <tr><td><code>guilty</code></td><td>int</td><td>0-1</td><td>guilty/not guilty?</td><td> </td></tr>
  <tr><td><code>sent</code></td><td>int</td><td>0-1</td><td>sentenced?</td><td> </td></tr>
  <tr><td><code>result</code></td><td>int</td><td>1-15</td><td> </td><td> </td></tr>
  <tr><td><code>offtyp</code></td><td>int</td><td>1-12</td><td> </td><td> </td></tr>
  <tr><td><code>ofclas</code></td><td>int</td><td>1-825</td><td> </td><td> </td></tr>
  <tr><td><code>notoff</code></td><td>int</td><td>0-1</td><td> </td><td> </td></tr>
</tbody>
</table>
</div>

{% endblock %}
